.hero{
  max-width: 23.438rem;
  width: 100%;
  height: 29rem;
  margin: 0 auto 2rem;
  background: url(.././assets/Image.png) no-repeat;
  background-position: top;
  background-size: contain;


  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 1.25rem 1.25rem 3rem;
    
    a{
      padding: 0.625rem 1.25rem;
      background-color: var(--pink-dark);
      border-radius: .5rem;
    }
  }

  & > div{
    margin-inline: auto;
    max-width: 20.938rem;
    text-align: center;

    h1{
      margin-bottom: 1rem;
    }

    p{
      font: 300 var(--body-lg)/1.4 var(--font-family);
      color: var(--color-body);
    }
  }
}

@media (width >= 90em){
  .hero{
    max-width: 90rem;    
    height: 59.25rem;
    position: relative;
    background: none;

    header{
      padding: 3.5rem 10rem 10.25rem;
  
      a:hover{
        background-color: var(--pink-base);
        
        transition: 500ms linear;
      }
    } 
  
    div{
      max-width: 41rem;
      animation: appear 2s linear backwards;
  
      h1{
        margin-bottom: 2rem;
      }

      p{
        animation: appear 2s 800ms linear backwards;
      }
    }
  }

  .hero::after{
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: url(../assets/hero-bg.svg);
    animation: appear 2s linear backwards;
   }

  @keyframes appear {
    0% {
      opacity: 0;
    }

    100%{
      opacity: 1;
    }
  }
}